/* Import Montserrat */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


/* Webfont: Faune */
@font-face {
    font-family: 'Faune';
    src: url('./fonts/faune.text-regular.ttf') at('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Faune Bold';
    src: url('./fonts/faune.text-bold.ttf') at('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body{
    /* colors */
    --eerie-black: #1C1917;
    --tawny: #CC5803;
    --cocoa-brown: #E2711D;
    --princeton-orange: #FF9505;
    --selective-yellow: #FFB627;
    --xanthous: #FFC971;
    --floral-white: #FEF9F0;

    background-color: var(--floral-white);
    color: var(--eerie-black);

    text-align: center;
}

#connexion{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--eerie-black);
    background-image: url("./img/bg_pets.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#connexion::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--floral-white);
    opacity: .5;
    z-index: -1;
}

img{
    position: absolute;
    top: 75px;
}

input{
    font-family: 'Montserrat', sans-serif;
}

#inputs-connexion{
    padding-top: 350px;
    display: flex;
    flex-direction: column;
}

#inputs-connexion input[type="email"], input[type="password"]{
    padding: 10px;
    border-radius: 15px;
    border: 2px solid var(--princeton-orange);
    background-color: var(--floral-white);
    font-size: 20px;
    margin-bottom: 15px;
    outline: none;
    width: 300px;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: var(--floral-white);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

input[type="checkbox"]:after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 15px;
    color: var(--floral-white);
    display: none;
}

input[type="checkbox"]:checked{
    background-color: var(--tawny);
}

input[type="checkbox"]:checked:after{
    display: block;
}

#checkbox{
    font-size: 20px;
    position: absolute;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5px;
}

#checkbox label{
    padding-left: 10px;
}

#buttons{
    padding-top: 25px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

button{
    border-radius: 15px;
    font-family: 'Faune';
    font-size: 30px;
    outline: none;
    width: 250px;
}

#buttons #submit-button-connexion{
    padding: 3px 43px;
    border: none;
    color: var(--floral-white);
    background-color: var(--princeton-orange);
    margin-bottom: 20px;
    margin-top: 25px;
}

#buttons #register-button-connexion{
    padding: 3px 22px;
    border: 2px solid var(--princeton-orange);
    color: var(--princeton-orange);
    background-color: var(--floral-white);
}

a{
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 25px;
    text-decoration: none;
    color: var(--eerie-black);
}

#password{  
    padding-top: 50px;
}

#forgotten-password{
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Montserrat', sans-serif;
    color: var(--eerie-black);
}

.inputs-forgotten-password{
    padding-top: 177px;
    text-align: left;
    padding-left: 45px;
}

.inputs-forgotten-password #email-span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 24px;
    transform: translateX(65px) translateY(-12px);
    padding: 0 10px;
    background: var(--floral-white);
}

.inputs-forgotten-password #email-input{
    padding: 10px;
    border-radius: 25px;
    border: 2px solid var(--cocoa-brown);
    background-color: var(--floral-white);
    font-size: 20px;
    outline: none;
    width: 300px;
    height: 60px;
}

#email-button{
    align-items: center;
    padding: 3px 24px;
    border: none;
    color: var(--floral-white);
    background-color: var(--princeton-orange);
    margin-top: 60px;
}

.return-to-connexion{
    padding-top: 407px;
}

.return-connexion{
    padding-top: 94px;
}

#register{
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Montserrat', sans-serif;
    color: var(--eerie-black);
}

.inputs-register{
    padding-top: 173px;
    text-align: left;
    padding-left: 45px;
}

.inputs-register span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 24px;
    transform: translateX(65px) translateY(-12px);
    padding: 0 10px;
    background: var(--floral-white);
}

.inputs-register input{
    padding: 10px;
    border-radius: 25px;
    background-color: var(--floral-white);
    font-size: 20px;
    outline: none;
    width: 300px;
    height: 60px;
    margin-bottom: 30px;
}

.inputs-register #name-input{
    border: 2px solid var(--selective-yellow);
}

.inputs-register #first-name-input{
    border: 2px solid var(--princeton-orange);
}

.inputs-register #email-input{
    border: 2px solid var(--cocoa-brown);
}

.inputs-register #password-input{
    border: 2px solid var(--tawny);
}

#register-button{
    align-items: center;
    padding-top: 101px;
    padding: 3px 33px;
    border: none;
    color: var(--floral-white);
    background-color: var(--princeton-orange);
    margin-bottom: 20px;
    margin-top: 70px;
}

#add-animal{
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Montserrat', sans-serif;
    color: var(--eerie-black);
}

.inputs-add-animal{
    padding-top: 72px;
    text-align: left;
    padding-left: 45px;
}

.inputs-add-animal span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 24px;
    transform: translateX(65px) translateY(-12px);
    padding: 0 10px;
    background: var(--floral-white);
}

.inputs-add-animal input{
    padding: 10px;
    border-radius: 25px;
    background-color: var(--floral-white);
    font-size: 20px;
    outline: none;
    width: 300px;
    height: 60px;
    margin-bottom: 30px;
}

.inputs-add-animal #specie-input{
    border: 2px solid var(--selective-yellow);
}

.inputs-add-animal #breed-input{
    border: 2px solid var(--princeton-orange);
}

.inputs-add-animal #name-input{
    border: 2px solid var(--cocoa-brown);
}

.inputs-add-animal #dob-input{
    border: 2px solid var(--tawny);
}

.inputs-add-animal #weight-input{
    border: 2px solid var(--selective-yellow);
}

.inputs-add-animal #id-input{
    border: 2px solid var(--princeton-orange);
}

#add-animal-button{
    align-items: center;
    margin-top: 60px;
    padding: 3px 29px;
    border: none;
    color: var(--floral-white);
    background-color: var(--princeton-orange);
}

.return-animals{
    padding-top: 60px;
    font-size: 20px;
}